@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html {
    --custom-yellow: #ffaa0c;
    --rose-white: #f9f5f4;
    --dark-chocolate: #191617;
    --f0f-focus: #f0f;
    font-family: "Jost", Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background: url("./background.svg");
    color: var(--dark-chocolate);
    background-size: cover;
    
}

h1 {
    font-size: 2.3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: white;
}
h2 {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-shadow: 15px 10px 5px var(--custom-yellow);
}
main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;

}
section {
    width: 50%;
    box-shadow: 3px 5px 9px var(--dark-chocolate);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    background-color: var(--rose-white);
}
img {
    border-radius: 1rem;
}
button {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 5px 15px var(--dark-chocolate);
    cursor: pointer;
    background-color: white;
    font-size: 1.5em;
    transition: 0.5s scale ease;
    margin-top: 2rem;
}
button:focus{
    border: 5px solid var(--f0f-focus);
}
button:hover {
    scale: 1.1;
}